html, body {
    margin: 0;
    height: 100%;
}

.header
{
    font-size: 10em;
    text-align: center;
}

.outer
{
    height: 100%;
    width: 100%;
    background: red;
}

.table
{
    width: 300px;
}

.middle
{
    background: yellow;
    width: 100%;
    height: 100%;
}

.footer
{
    height: 100px;
    width: 100%;
    vertical-align: middle;
}
